In [101]:
import pandas as pd

In [181]:
df1=pd.read_excel("CARL Stats.xlsx", sheet_name='FY17-18')
df2=pd.read_excel("CARL Stats.xlsx", sheet_name='FY16-17')
df3=pd.read_excel("CARL Stats.xlsx", sheet_name='FY15-16')
df4=pd.read_excel("CARL Stats.xlsx", sheet_name='FY14-15')
df5=pd.read_excel("CARL Stats.xlsx", sheet_name='FY13-14')

In [182]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 29 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Institution                         31 non-null     object
 1   Year Start                          33 non-null     object
 2   Year End                            33 non-null     object
 3   Titles held (all formats)           33 non-null     object
 4   One time resource purchases         33 non-null     object
 5   Ongoing resource purchases          33 non-null     object
 6   Collection support                  33 non-null     object
 7   Total library materials             33 non-null     object
 8   Professional staff                  33 non-null     object
 9   Support staff                       33 non-null     object
 10  Casual staff                        33 non-null     object
 11  Total staffing expenditures         33 non-null     object
 12  Fringe benefits                     33 non-null     object
 13  Other operating expenditures        33 non-null     object
 14  Total library expenditures          33 non-null     object
 15  Librarians FTE                      33 non-null     object
 16  Other professionals FTE             33 non-null     object
 17  Total professionals FTE             33 non-null     object
 18  Support staff FTE                   33 non-null     object
 19  Casual staff FTE                    33 non-null     object
 20  Total staff FTE                     33 non-null     object
 21  Fringe benefits included            33 non-null     object
 22  Law Library included                33 non-null     object
 23  Medical library included            33 non-null     object
 24  Number of undergraduate FTE         33 non-null     object
 25  Number of graduate FTE              33 non-null     object
 26  Total enrolment FTE                 33 non-null     object
 27  List all libraries included         32 non-null     object
 28  FIUC Data (CAUBO) available online  33 non-null     object
dtypes: object(29)
memory usage: 7.6+ KB

In [183]:
def clean_db(FY,df=None):
    df=df.iloc[2:,:]
    df=df.melt(id_vars=['Institution','Year Start','Year End','Fringe benefits included','Law Library included','Medical library included','List all libraries included'])
    df.columns=['Institution','Year Start','Year End','Fringe benefits included','Law Library included','Medical library included','List all libraries included','Category','Total']
    df['Total']=df['Total'].replace('k','000')
    df['Total']=df['Total'].replace('$','')
    df['Total']=df['Total'].replace(',','')
    #df['Total']=pd.to_numeric(df['Total'])
    
    df['Year Start']=df['Year Start'].replace('N/R',None)
    df['Year End']=df['Year End'].replace('N/R',None)
    df['Year Start']=pd.to_datetime(df['Year Start'])
    df['Year End']=pd.to_datetime(df['Year End'])
    df['Fiscal Year']=FY    
    return df

In [184]:
df1=clean_db('FY17-18',df1)
df2=clean_db('FY16-17',df2)
df3=clean_db('FY15-16',df3)
df4=clean_db('FY14-15',df4)
df5=clean_db('FY13-14',df5)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Institution                  682 non-null    object
 1   Year Start                   682 non-null    datetime64[ns]
 2   Year End                     682 non-null    datetime64[ns]
 3   Fringe benefits included     682 non-null    object
 4   Law Library included         682 non-null    object
 5   Medical library included     682 non-null    object
 6   List all libraries included  660 non-null    object
 7   Category                     682 non-null    object
 8   Total                        682 non-null    object
 9   Fiscal Year                  682 non-null    object
dtypes: datetime64[ns](2), object(8)
memory usage: 53.4+ KB

In [185]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Institution                  682 non-null    object
 1   Year Start                   682 non-null    datetime64[ns]
 2   Year End                     682 non-null    datetime64[ns]
 3   Fringe benefits included     682 non-null    object
 4   Law Library included         682 non-null    object
 5   Medical library included     682 non-null    object
 6   List all libraries included  660 non-null    object
 7   Category                     682 non-null    object
 8   Total                        676 non-null    object
 9   Fiscal Year                  682 non-null    object
dtypes: datetime64[ns](2), object(8)
memory usage: 53.4+ KB

In [186]:
df=pd.concat([df1,df2,df3,df4,df5])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3410 entries, 0 to 681
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Institution                  3410 non-null   object
 1   Year Start                   3410 non-null   datetime64[ns]
 2   Year End                     3410 non-null   datetime64[ns]
 3   Fringe benefits included     3410 non-null   object
 4   Law Library included         3410 non-null   object
 5   Medical library included     3410 non-null   object
 6   List all libraries included  3190 non-null   object
 7   Category                     3410 non-null   object
 8   Total                        3386 non-null   object
 9   Fiscal Year                  3410 non-null   object
dtypes: datetime64[ns](2), object(8)
memory usage: 293.0+ KB

In [1]:
#df.head()

In [189]:
df.to_excel('carl.xlsx')